{% extends "base.html" %}
{% block content %}
<div class="container mx-auto px-4 py-8">
    <h1 class="text-3xl font-bold mb-8 text-black">Notifications:</h1>
    
    {% if notifications %}
        <ul class="space-y-4">
            {% for notification in notifications %}
                <li class="bg-white p-4 rounded-lg shadow flex justify-between items-start">
                    <div>
                        {% if notification.type == 'like' %}
                            <p><a href="{{ url_for('profile', username=notification.actor.username) }}" class="text-blue-500 hover:underline">{{ notification.actor.username }}</a> liked your post: "{{ notification.post.content[:50] }}..."</p>
                        {% elif notification.type == 'follow' %}
                            <p><a href="{{ url_for('profile', username=notification.actor.username) }}" class="text-blue-500 hover:underline">{{ notification.actor.username }}</a> started following you.</p>
                        {% elif notification.type == 'comment' %}
                            <p><a href="{{ url_for('profile', username=notification.actor.username) }}" class="text-blue-500 hover:underline">{{ notification.actor.username }}</a> commented on your post: "{{ notification.post.content[:50] }}..."</p>
                        {% endif %}
                        <p class="text-sm text-gray-500 mt-2">{{ notification.timestamp.strftime('%Y-%m-%d %H:%M') }}</p>
                    </div>
                    <form action="{{ url_for('delete_notification', notification_id=notification.id) }}" method="POST">
                        <button type="submit" class="text-red-500 hover:text-red-700">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                                <path fill-rule="evenodd" d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z" clip-rule="evenodd" />
                            </svg>
                        </button>
                    </form>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p class="text-xl text-black-300">No new notifications.</p>
    {% endif %}
</div>
{% endblock %}
